*{  
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}
div.game{
    height: 100%;
    width: 100%;
    background: url("https://thumbs.gfycat.com/BasicWeightyFeline-small.gif");
    position: relative;
}

#space_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.alien_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.game .laser{
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
}

div.game{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

progress#health{
    width: 200px;
    position: absolute;
}

#score{
    font-size: 20px;
    margin-left: 10px;
}

.startgame{
    display: flex;
    top: 10vh;
    left: 19vw;
    position: absolute;
}

#game_contain{
    display: block;
    width: 40vw;
    height: 60vh;
    background-color: rgba(64, 64, 163, 0.2);
    border-radius: 10px;
    text-align: center;
}

#game_score{
    text-align: center;
    display: block;
    width: 20vw;
    height: 60vh;
    border-radius: 10px;
    margin: 0 1vw;
    background-color: rgba(64, 64, 163, 0.2);
}

.spaceship_btn{
    background-color: rgba(64, 64, 163, 0.2);
    border-radius: 10px;
}

.startgame button.btn{
    font-size: 20px;
    border-radius: 20px;
    height: 1.5em;
    width: 10em;
    background-color: green;
    transition: ease 0.5s;
}

.startgame button.btn:hover{
    width: 15em;
}

.top_player_li{
    margin-bottom: 5px;
    font-size: 30px;
    list-style: none;
}

.top_player_h4{
    margin-bottom: 10px;
    color: chartreuse;
}

input{
    height: 30px;
    width: 10em;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}