*{  
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}
div.game{
    height: 100%;
    width: 100%;
    background: url("https://thumbs.gfycat.com/BasicWeightyFeline-small.gif");
    position: relative;
}

#space_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.alien_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.game .laser{
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
}

div.game{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

progress#health{
    width: 200px;
    position: absolute;
}

#score{
    font-size: 20px;
    margin-left: 10px;
}


.startgame{
    display: block;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: rgba(64, 64, 163, 0.2);
    border-radius: 10px;
    top: 5vh;
    text-align: center;
}

.spaceship_btn{
    background-color: rgba(64, 64, 163, 0.2);
    border-radius: 10px;
}

.startgame button.btn{
    font-size: 20px;
    border-radius: 20px;
    height: 1.5em;
    width: 10em;
    background-color: green;
    transition: ease 0.5s;
}

.startgame button.btn:hover{
    width: 15em;
}
