body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
div.game{
    /* background-image: url("https://i.pinimg.com/originals/80/40/b5/8040b5ff91ce8c3f153beebab39d584f.gif"); */
    height: 100%;
    width: 100%;
}

#space_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.alien_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.game .laser{
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
}

div.game{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

progress#health{
    width: 200px;
    position: absolute;
}

#score{
    font-size: 20px;
    margin-left: 10px;
}


