body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
div.game{
    height: 100%;
    width: 100%;
}

img#space_ship{
    height: 10%;
    width: 100px;
    position: absolute; 
}

.game .lazer{
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
}

div.game{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
